<footer
  id="fotter"
  class=" p-4 bg-white color-secondary shadow md:px-6 md:py-8 dark:bg-gray-900"
>
  <div class="flex justify-center px-20 pb-10">
    <%= image_tag "banner.png", style: "width: 35%" %>
  </div>

  <span class="block text-sm sm:text-center dark:text-gray-400">
    SOBRE LA TIENDA FORMAS DE ENTREGA FRENTE AL COVID-19 TÉRMINOS Y CONDICIONES
  </span>
  <span class="block text-sm sm:text-center dark:text-gray-400">
    Eco Darkness Tienda © Todos los derechos reservados 2021
  </span>
</footer>
